// CSS Variables

:root {
  --color-very-dark-blue: #0f1424;
  --color-dark-blue: #1c1f4a;
  --color-desaturated-blue: #5646e9;
  --color-pale-blue: #bdc1ff;
  --color-white: #fff;
  --default-padding: 2rem;
  --default-radius: 0.8rem;
}

// End CSS Variables

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;

  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--color-white);
}
/* END CSS RESET */

.container {
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  grid-template-rows: repeat(2, 20rem);
  //   grid-template-rows: 1fr 1fr;
  align-content: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 2rem;
  min-height: 100vh;
  padding: var(--default-padding);

  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1rem);
  }
}

.card1 {
  display: grid;
  grid-row: 1/3;
  row-gap: 0;
}

.card {
  display: grid;
  align-items: center;
  // row-gap: 2rem;
  border-radius: var(--default-radius);
  background-color: var(--color-dark-blue);
  padding: var(--default-padding);
}

.project-info {
  font-weight: 400;
}

.project-title {
  font-size: 2.6rem;
}

.project-type {
  font-size: 1.4rem;
}

.tech-stack {
  justify-content: space-between;
  font-size: 1.4rem;
  margin-top: 1rem;
  // gap: 50px;
}

.tech-stack-title {
  margin-bottom: 1rem;
}

.tech-stack-language {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // display: inline-block;
  background-color: var(--color-desaturated-blue);
  // position: absolute;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

p.tech-stack-language {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.3rem;
}
.personal-info {
  background-color: var(--color-pale-blue);
  padding: var(--default-padding);
}
.personal-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.2rem solid #fff;
}

.personal-name {
  font-size: 3rem;
}

.social {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-blue);
  padding: var(--default-padding);
  height: 20rem;
  align-items: center;
  justify-content: center;
}

.social-wrapper {
  display: flex;
  gap: 0.5rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}
